{% extends 'pageWrapper.html' %}
{% set show_footer = True %}

{% block head %}
    <title>MultiworldGG</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/landing.css") }}" />
    <script src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.umd.js"></script>
{% endblock %}

{% block body %}
    {% include 'header/oceanIslandHeader.html' %}
    <div id="landing-wrapper">
        <div id="landing-header">
            <img id="landing-logo" src="static/static/branding/landing-logo.png" alt="MultiworldGG Logo" />
        </div>
        <div id="landing-links">
            <a href="/games" id="far-left-button">Supported<br />Games</a>
            <a href="/tutorial" id="mid-left-button">Setup Guides</a>
            <a href="/start-playing" id="mid-button">Start<br />Playing</a>
            <a href="/faq/en/" id="mid-right-button">F.A.Q.</a>
            <a href="https://discord.gg/zsr" id="far-right-button" target="_blank">Join<br />Discord</a>
        </div>
        <div id="landing-clouds">
            <img id="cloud1" src="/static/static/backgrounds/clouds/cloud-0001.png"/>
            <img id="cloud2" src="/static/static/backgrounds/clouds/cloud-0002.png"/>
            <img id="cloud3" src="/static/static/backgrounds/clouds/cloud-0003.png"/>
            <img id="cloud4" src="/static/static/backgrounds/clouds/cloud-0004.png"/>
        </div>
        <div id="landing" class="grass-island">
            <div id="landing-body">
                <p id="first-line">Welcome to Multiworld.GG!</p>
                <h5>A multi-game multiworld randomizer</h5>
                <p>
                    This is a cross-game system which randomizes different games, then uses the result to
                    build a single unified multi-player game. Items from one game may be present in another, and
                    you will need your fellow players to find items you need in their games to help you complete
                    your own.
                </p>
                <p>
                    Multiworld.GG is an unofficial and derivative project, incorporating additional worlds of many volunteers and developers
                    that are not or cannot be part of the original project. Given this, we also offer worlds that are still in earlier development stages.
                    Should you stumble across bugs, please contact <b>us</b> first through <a href="https://discord.gg/zsr">Discord</a>, as we want to try
                    and minimize the support load for the developers.
                </p>
                <p>
                    This project was based of <a href="https://github.com/ArchipelagoMW/Archipelago">Archipelago</a>, a cumulative effort of many
                    <a href="https://github.com/ArchipelagoMW/Archipelago/graphs/contributors">talented people.</a>
                </p>
                <p>
                    <a href="{{ url_for("stats") }}">{{ seeds }}</a>
                    games were generated and
                    <a href="{{ url_for("stats") }}">{{ rooms }}</a>
                    were hosted in the last 7 days.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
