{% extends 'pageWrapper.html' %}

{% block head %}
    {% include 'header/grassHeader.html' %}
    <title>Legal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/markdown.css") }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"
            integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw=="
            crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div id="legal-wrapper" data-lang="en" class="markdown">
        <section class="site-mx-auto site-max-w-screen-lg">
            <h1 class="hylia-serif site-mt-10 site-mb-2.5 site-text-3xl site-text-white">
              Legal Disclosure (Impressum)
            </h1>
            <p>Information in accordance with Section 5 TMG</p>
            <p>Christoph Wergen</p>
            <p class="site-mb-5 site-font-semibold">ZeldaSpeedRuns</p>
            <p>Am Weyerhof 2</p>
            <p>50226 Frechen</p>
            <p class="site-mb-10">Germany</p>

            <h2 class="site-mb-2.5 site-text-2xl site-font-bold site-text-white">
              Contact Information
            </h2>
            <p>
              Email:
              <a href="mailto:zsrstaff@gmail.com" class="site-group site-font-bold site-text-zelda-blue-400 site-transition-all site-duration-150 site-ease-in-out hover:site-cursor-pointer hover:site-text-zelda-blue-300"><span class="site-bg-gradient-to-r site-from-zelda-blue-300 site-to-zelda-blue-300 site-bg-[length:0%_2px] site-bg-left-bottom site-bg-no-repeat site-transition-all site-duration-300 site-ease-out group-hover:site-bg-[length:100%_2px]">zsrstaff@gmail.com</span></a>
            </p>
            <p class="site-mb-10">
              Internet address:
              <a href="https://www.zeldaspeedruns.com" target="_blank" class="site-group site-font-bold site-text-zelda-blue-400 site-transition-all site-duration-150 site-ease-in-out hover:site-cursor-pointer hover:site-text-zelda-blue-300"><span class="site-bg-gradient-to-r site-from-zelda-blue-300 site-to-zelda-blue-300 site-bg-[length:0%_2px] site-bg-left-bottom site-bg-no-repeat site-transition-all site-duration-300 site-ease-out group-hover:site-bg-[length:100%_2px]">www.zeldaspeedruns.com</span></a>
            </p>

            <h2 class="site-mb-2.5 site-text-2xl site-font-bold site-text-white">Disclaimer</h2>
            <h3 class="site-font-semibold">Accountability for content</h3>
            <p class="site-mb-10">
              The site-contents of our pages have been created with the utmost care.
              However, we cannot guarantee the site-contents' accuracy, completeness
              or topicality. According to statutory provisions, we are
              furthermore responsible for our own content on these web pages. In
              this matter, please note that we are not obliged to monitor the
              transmitted or saved information of third parties, or investigate
              circumstances pointing to illegal activity. Our obligations to
              remove or site-block the use of information under generally applicable
              laws remain unaffected by this as per §§ 8 to 10 of the Telemedia
              Act (TMG).
            </p>

            <h3 class="site-font-semibold">Accountability for links</h3>
            <p class="site-mb-10">
              Responsibility for the content of external links (to web pages of
              third parties) lies solely with the operators of the linked pages.
              No violations were evident to us at the time of linking. Should
              any legal infringement become known to us, we will remove the
              respective link immediately.
            </p>

            <h3 class="site-font-semibold">Copyright</h3>
            <p class="site-mb-10">
              Our web pages and their site-contents are subject to German copyright
              law. Unless expressly permitted by law, every form of utilizing,
              reproducing or processing works subject to copyright protection on
              our web pages requires the prior consent of the respective owner
              of the rights. Individual reproductions of a work are only allowed
              for private use. The materials from these pages are copyrighted
              and any unauthorized use may violate copyright laws.
            </p>

            <h2 class="site-mb-2.5 site-text-2xl site-font-bold site-text-white">Privacy Policy</h2>
            <p class="site-mb-5">
              Personal data (usually referred to just as "data" below) will only
              be processed by us to the extent necessary and for the purpose of
              providing a functional and user-friendly website, including its
              site-contents, and the services offered there.
            </p>

            <p class="site-mb-5">
              Per Art. 4 No. 1 of Regulation (EU) 2016/679, i.e. the General
              Data Protection Regulation (hereinafter referred to as the
              "GDPR"), "processing" refers to any operation or set of operations
              such as collection, recording, organization, structuring, storage,
              adaptation, alteration, retrieval, consultation, use, disclosure
              by transmission, dissemination, or otherwise making available,
              alignment, or combination, restriction, erasure, or destruction
              performed on personal data, whether by automated means or not.
            </p>

            <p class="site-mb-5">
              The following privacy policy is intended to inform you in
              particular about the type, scope, purpose, duration, and legal
              basis for the processing of such data either under our own control
              or in conjunction with others. We also inform you below about the
              third-party components we use to optimize our website and improve
              the user experience which may result in said third parties also
              processing data they collect and control.
            </p>

            <p class="site-mb-5">Our privacy policy is structured as follows:</p>
            <p>I. Information about us as controllers of your data</p>
            <p>II. The rights of users and data subjects</p>
            <p>III. Information about the data processing</p>
            <p class="site-mb-10">IV. Detailed information on the processing of your personal data</p>

            <h2 class="site-mb-2.5 site-text-2xl site-font-bold site-text-white">
              I. Information about us as controllers of your data
            </h2>
            <p class="site-mb-5">
              The party responsible for this website (the "controller") for
              purposes of data protection law is:
            </p>

            <p class="site-font-semibold">ZeldaSpeedRuns</p>
            <p class="site-font-semibold">Am Weyerhof 2</p>
            <p class="site-font-semibold">50226 Frechen</p>
            <p class="site-mb-5 site-font-semibold">Germany</p>

            <p class="site-mb-5 site-font-semibold">
              Email:
              <a href="mailto:zsrstaff@gmail.com" class="site-group site-font-bold site-text-zelda-blue-400 site-transition-all site-duration-150 site-ease-in-out hover:site-cursor-pointer hover:site-text-zelda-blue-300"><span class="site-bg-gradient-to-r site-from-zelda-blue-300 site-to-zelda-blue-300 site-bg-[length:0%_2px] site-bg-left-bottom site-bg-no-repeat site-transition-all site-duration-300 site-ease-out group-hover:site-bg-[length:100%_2px]">zsrstaff@gmail.com</span></a>
            </p>

            <p>The controller's data protection officer is:</p>

            <p class="site-font-semibold">Christoph Wergen</p>
            <p class="site-font-semibold">Am Weyerhof 2</p>
            <p class="site-font-semibold">50226 Frechen</p>
            <p class="site-mb-10 site-font-semibold">Germany</p>

            <h2 class="site-mb-2.5 site-text-2xl site-font-bold site-text-white">
              II. The rights of users and data subjects
            </h2>
            <p>
              With regard to the data processing to be described in more detail
              below, users and data subjects have the right:
            </p>

            <ul class="site-ml-10 site-mb-5 site-list-disc">
              <li>
                to confirmation of whether data concerning them is being
                processed, information about the data being processed, further
                information about the nature of the data processing, and copies
                of the data (cf. also Art. 15 GDPR);
              </li>
              <li>
                to correct or complete incorrect or incomplete data (cf. also
                Art. 16 GDPR);
              </li>
              <li>
                to the immediate deletion of data concerning them (cf. also Art.
                17 DSGVO), or, alternatively, if further processing is necessary
                as stipulated in Art. 17 Para. 3 GDPR, to restrict said
                processing per Art. 18 GDPR;
              </li>
              <li>
                to receive copies of the data concerning them and/or provided by
                them and to have the same transmitted to other
                providers/controllers (cf. also Art. 20 GDPR);
              </li>
              <li>
                to file complaints with the supervisory authority if they
                believe that data concerning them is being processed by the
                controller in breach of data protection provisions (see also
                Art. 77 GDPR).
              </li>
            </ul>

            <p class="site-mb-5">
              In addition, the controller is obliged to inform all recipients to
              whom it discloses data of any such corrections, deletions, or
              restrictions placed on processing the same per Art. 16, 17 Para.
              1, 18 GDPR. However, this obligation does not apply if such
              notification is impossible or involves a disproportionate effort.
              Nevertheless, users have a right to information about these
              recipients.
            </p>

            <p class="site-mb-10 site-font-semibold site-text-white">
              Likewise, under Art. 21 GDPR, users and data subjects have the
              right to object to the controller's future processing of their
              data pursuant to Art. 6 Para. 1 lit. f) GDPR. In particular, an
              objection to data processing for the purpose of direct advertising
              is permissible.
            </p>

            <h2 class="site-mb-2.5 site-text-2xl site-font-bold site-text-white">
              III. Information about the data processing
            </h2>
            <p class="site-mb-10">
              Your data processed when using our website will be deleted or
              site-blocked as soon as the purpose for its storage ceases to apply,
              provided the deletion of the same is not in breach of any
              statutory storage obligations.
            </p>

            <h2 class="site-mb-2.5 site-text-2xl site-font-bold site-text-white">
              IV. Detailed information on the processing of your personal data
            </h2>

            <p class="site-mb-5">
              The service providers we use may have access to your personal data. 
              These third-party vendors collect, store, use, process and transfer 
              information about your activity on our website in accordance with 
              their privacy policies.
            </p>

            <p class="site-mb-5 site-font-semibold site-text-white">
              Google Analytics
            </p>

            <p class="site-mb-5">
              We may use third-party service providers such as Google Analytics to monitor and analyze the use of our website.
            </p>

            <p class="site-mb-5">
              Google Analytics is a web analytics service offered by Google that tracks and 
              reports website traffic. Google uses the data collected to track and monitor the use of our website. 
              This data is shared with other Google services.
            </p>

            <p class="site-mb-5">
              Google Analytics gathers information about our website use by means of cookies with a randomly generated Client ID on your browser. 
              Google does use your personal information such as your IP address in order to capture the reporting for the Website regarding its usage.
            </p>

            <p class="site-mb-5">
              You can opt-out of having made your activity on the website available to Google Analytics by installing 
              the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js and dc.js) 
              from sharing information with Google Analytics about visits activity.
            </p>

            <p class="site-mb-5">
              For more information on the privacy practices of Google, please visit the Google Privacy &amp; Terms web page: <a href="https://policies.google.com/privacy" target="_blank" class="site-group site-font-semibold site-text-zelda-blue-400 site-transition-all site-duration-150 site-ease-in-out hover:site-cursor-pointer hover:site-text-zelda-blue-300"><span class="site-bg-gradient-to-r site-from-zelda-blue-300 site-to-zelda-blue-300 site-bg-[length:0%_2px] site-bg-left-bottom site-bg-no-repeat site-transition-all site-duration-300 site-ease-out group-hover:site-bg-[length:100%_2px]">https://policies.google.com/privacy</span></a>
            </p>

              <p class="site-mb-5">
                multiworld.gg is not responsible for the actions or failures
                of any third parties.
              </p>
            <p></p>
          </section>
    </div>
{%  endblock %}
