<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/tooltip.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/globalStyles.css") }}" />
    <script src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.umd.js"></script>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-39Z35ZSZ55"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
  
          gtag('config', 'G-39Z35ZSZ55');
      </script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.0.1/dist/cookieconsent.css" />
    {% block head %}
        <title>MultiworldGG</title>
    {% endblock %}
</head>
<body>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    {% for message in messages | unique %}
                        <div class="user-message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block body %}
        {% endblock %}
    </main>

    {% if show_footer %}
        {% include "islandFooter.html" %}
    {% endif %}

<script type="module" src="{{ url_for('static', filename="assets/cookieconsent-config.js") }}"></script>
</body>
</html>
