# MultiworldGG World Code Owners Document
#
# This file is used to notate the creators / maintainers of any world folder bundled with MWGG as well as
# certain documentation.
#
# All usernames must be GitHub usernames (and are case sensitive).

# Adventure
/worlds/adventure/ @JusticePS

# Against the Storm
/worlds/against_the_storm/ @Ryguy-9999

# A Hat in Time
/worlds/ahit/ @CookieCat45

# A Link Between Worlds
/worlds/albw/ @randomsalience

# A Link to the Past
/worlds/alttp/ @Berserker66

# Animal Well
/worlds/animal_well @ScipioWright

# An Untitled Story
/worlds/aus/ @ThatOneGuy27

# Ape Escape
/worlds/apeescape/ @Thedragon005

# Sudoku (APSudoku)
/worlds/apsudoku/ @EmilyV99

# Aquaria
/worlds/aquaria/ @tioui

# ArchipIDLE
/worlds/archipidle/ @LegendaryLinux

# Balatro
/worlds/balatro/ @BurndiL

# Banjo Tooie
/worlds/banjo_tooie/ @jjjj12212

# Blasphemous
/worlds/blasphemous/ @TRPG0

# Bomb Rush Cyberfunk
/worlds/bomb_rush_cyberfunk/ @TRPG0

# Brotato
/worlds/brotato/ @SpenserHaddad

# Bumper Stickers
/worlds/bumpstik/ @FelicitusNeko

# Candy Box 2
/worlds/candybox2/ @vicr123

# Castlevania 64
/worlds/cv64/ @LiquidCat64

# Castlevania: Circle of the Moon
/worlds/cvcotm/ @LiquidCat64

# Castlevania: Symphony of the Night
/worlds/sotn/ @fdelduque

# Cat Quest
/worlds/cat_quest/ @Nikkilites

# Celeste
/worlds/celeste/ @doshyw

# Celeste 64
/worlds/celeste64/ @PoryGone

# Chained Echoes
/worlds/chainedechoes/ @SergioAlonso

# Chatipelago
/worlds/chatipelago/ @lallaria

# ChecksFinder
/worlds/checksfinder/ @SunCatMC

# Chrono Trigger
/worlds/ctjot/ @Anguirel86

# Civilization VI
/worlds/civ6/ @hesto2

# Clique
/worlds/clique/ @ThePhar

# CrossCode
/worlds/crosscode/ @CodeTriangle

# Cuphead
/worlds/cuphead/ @JKLeckr

# Dark Souls Remastered
/worlds/dsr/ @ArsonAssassin

# Dark Souls II
/worlds/dark_souls_2/ @WildBunnie

# Dark Souls III
/worlds/dark_souls_3/ @Marechal-L @nex3

# Diddy Kong Racing
/worlds/diddy_kong_racing/ @zakwiz

# DLCQuest
/worlds/dlcquest/ @axe-y @agilbert1412

# Donkey Kong Country
/worlds/dkc/ @TheLX5

# Donkey Kong Country 2
/worlds/dkc2/ @TheLX5

# Donkey Kong Country 3
/worlds/dkc3/ @PoryGone

# Donkey Kong 64
/worlds/dk64/ @2dos @killklli @theballaam96

# Don't Starve Together
/worlds/dontstarvetogether/ @DragonWolfLeo

# DOOM 1993
/worlds/doom_1993/ @Daivuk @KScl

# DOOM II
/worlds/doom_ii/ @Daivuk @KScl

# Doronko Wanko
/worlds/doronko_wanko/ @Vendily

# Earthbound
/worlds/earthbound/ @PinkSwitch

# Ender Lilies
/worlds/enderlilies/ @Trexounay

# Factorio
/worlds/factorio/ @Berserker66
/worlds/factorio_saws/ @Alchav

# Faxanadu
/worlds/faxanadu/ @Daivuk

# Final Fantasy 4: Free Enterprise
/worlds/ff4fe/ @Rosalie-A

# Final Fantasy Mystic Quest
/worlds/ffmq/ @Alchav @wildham0

# Final Fantasy Tactics Advance
/worlds/ffta/ @spicynun

# Getting Over It
/worlds/getting_over_it/ @BlastSlimey

# Golden Sun: The Lost Age
/worlds/gstla/ @cjmang

# GZDoom
/worlds/gzdoom/ @ToxicFrog

# Hades
/worlds/hades/ @Naixgames

# Hatsune Miku Project Diva Mega Mix+
/worlds/megamix/ @Cynichill

# Here comes Niko!
/worlds/hcniko/ @niieli

# Heretic
/worlds/heretic/ @Daivuk @KScl

# Hollow Knight
/worlds/hk/ @BadMagic100 @qwint

# HuniePop
/worlds/huniepop/ @DotsofdarknessArchipelago

# HuniePop 2
/worlds/huniepop2/ @DotsofdarknessArchipelago

# Hylics 2
/worlds/hylics2/ @TRPG0

# Inscryption
/worlds/inscryption/ @DrBibop @Glowbuzz

# Jak & Dexter: The Precursor Legacy
/worlds/jakanddexter/ @massimilianodelliubaldini

# Jigsaw
/worlds/jigsaw/ @spinerak

# Kirby 64
/worlds/k64/ @Silvris

# Kirby's Dream Land 3
/worlds/kdl3/ @Silvris

# Kingdom Hearts
/worlds/kh1/ @gaithern

# Kingdom Hearts 2
/worlds/kh2/ @JaredWeakStrike

# Landstalker: The Treasures of King Nole
/worlds/landstalker/ @Dinopony

# Lethal Company
/worlds/lethal_company/ @T0r1nn

# Lingo
/worlds/lingo/ @hatkirby

# Links Awakening DX
/worlds/ladx/ @threeandthreee

# Lufia II Ancient Cave
/worlds/lufia2ac/ @el-u
/worlds/lufia2ac/docs/ @wordfcuk @el-u

# Luigi's Mansion
/worlds/luigismansion/ @BootsinSoots

# Majora's Mask (Recompiled)
/worlds/mm_recomp/ @LittleCube-hax

# Mario Kart: Double Dash
/worlds/mario_kart_double_dash/ @aXu-AP

# Mario Kart 64
/worlds/mk64/ @Edsploration

# Mario & Luigi: Superstar Saga
/worlds/mlss/ @jamesbrq

# Mega Man 2
/worlds/mm2/ @Silvris

# MegaMan Battle Network 3
/worlds/mmbn3/ @digiholic

# Meritous
/worlds/meritous/ @FelicitusNeko

# Metroid Prime
/worlds/metroidprime/ @Electro1512

# Metroid Zero Mission
/worlds/mzm/ @NoiseCrush

# Momodora Moonlit Farewell
/worlds/momodoramoonlitfarewell/ @alditoOt 

# The Messenger
/worlds/messenger/ @alwaysintreble

# Minecraft
/worlds/minecraft/ @KonoTyran @espeon65536 (currently unmaintained)

# Monster Sanctuary
/worlds/monster_sanctuary/ @Gtaray

# Muse Dash
/worlds/musedash/ @DeamonHunter

# Noita
/worlds/noita/ @ScipioWright @heinermann

# Old School Runescape
/worlds/osrs/ @digiholic

# OpenRCT 2
/worlds/openrct2/ @Crazycolbster

# Oracle of Ages
/worlds/tloz_ooa/ @Dinopony

# Oracle of Seasons
/worlds/tloz_oos/ @SenPierre

# Ori and the Blind Forest
/worlds/oribf/ @c-ostic

# osu!
/worlds/osu/ @lilymnky-F

# Outer Wilds
/worlds/outer_wilds/ @Ixrec

# Overcooked! 2
/worlds/overcooked2/ @toasterparty

# Paint (JSPaint)
/worlds/paint/ @MarioManTAW

# Paper Mario
/worlds/papermario/ @JKBSunshine

# Paper Mario: TTYD
/worlds/ttyd/ @jamesbrq

# Peaks of Yore
/worlds/peaks_of_yore/ @c0der23

# Placid Plastic Duck Simulator
/worlds/placidplasticducksim/ @SWCreeperKing

# Pokemon Crystal
/worlds/pokemon_crystal/ @gerbiljames

# Pokemon Emerald
/worlds/pokemon_emerald/ @Zunawe

# Pokemon Firered and Leafgreen
/worlds/pokemon_frlg/ @vyneras

# Pokemon Mystery Dungeon: Explorers of Sky
/worlds/pmd_eos/ @CrypticMonkey33

# Pokemon Red and Blue
/worlds/pokemon_rb/ @Alchav

# Powerwash Simulator
/worlds/powerwashsimulator/ @SWCreeperKing

# Pseudoregalia 
/worlds/pseudoregalia/ @qwint

# Raft
/worlds/raft/ @SunnyBat

# Ratchet & Clank 2
/worlds/rac2/ @evilwb

# Resident Evil 2 Remake
/worlds/residentevil2remake/ @FuzzyGamesOn

# Resident Evil 3 Remake
/worlds/residentevil3remake/ @therealsolidussnake

# Rimworld
/worlds/rimworld/ @PhantomOfAres

# Rogue Legacy
/worlds/rogue_legacy/ @ThePhar

# Risk of Rain
/worlds/ror1/ @studkid

# Risk of Rain 2
/worlds/ror2/ @kindasneaki

# Satisfactory
/worlds/satisfactory/ @Jarno458

# Saving Princess
/worlds/saving_princess/ @LeonarthCG

# Sea of Thieves
/worlds/seaofthieves/ @EthanSteidl

# Shapez
/worlds/shapez/ @BlastSlimey

# Shivers
/worlds/shivers/ @GodlFire @korydondzila

# A Short Hike
/worlds/shorthike/ @chandler05 @BrandenEK

# Sims 4
/worlds/sims4/ @benny-dreamly

# Skyward Sword
/worlds/ss/ @Battlecats59

# Sly Cooper and the Thievius Raccoonus
/worlds/sly1/ @Philoffalot

# Sonic Adventure DX
/worlds/sadx/ @ClassicSpeed

# Sonic Adventure 2 Battle
/worlds/sa2b/ @PoryGone @RaspberrySpace

# Sonic Heroes
/worlds/sonic_heroes/ @xMcacutt

# Spyro 3
/worlds/spyro3/ @ArsonAssassin

# Starcraft 2
/worlds/sc2/ @Ziktofel

# Star Fox 64
/worlds/star_fox_64/ @Auztin

# Star Wars Episode 1 Racer
/worlds/swr/ @wcolding

# Super Metroid
/worlds/sm/ @lordlou
/worlds/sm_map_rando/ @lordlou

# Super Mario 64
/worlds/sm64ex/ @N00byKing

# Super Mario Land 2: 6 Golden Coins
/worlds/marioland2/ @Alchav

# Super Mario Odyssey
/worlds/smo/ @Kgamer77

# Super Mario Sunshine
/worlds/sms/ @Joshark

# Super Mario World
/worlds/smw/ @PoryGone

# SMZ3
/worlds/smz3/ @lordlou

# Secret of Evermore
/worlds/soe/ @black-sliver

# Slay the Spire
/worlds/spire/ @KonoTyran

# Stardew Valley
/worlds/stardew_valley/ @agilbert1412

# Subnautica
/worlds/subnautica/ @Berserker66

# Terraria
/worlds/terraria/ @Seldom-SE

# Tetris Attack
/worlds/tetrisattack/ @AgStarRay

# Timespinner
/worlds/timespinner/ @Jarno458

# The Binding of Isaac Repentance
/worlds/tboir/ @Cyb3RGER

# The Legend of Zelda (1)
/worlds/tloz/ @Rosalie-A @t3hf1gm3nt

# ToonTown
/worlds/toontown/ @PIEisFANTASTIC

# Trackmania
/worlds/trackmania/ @SerialBoxes

# TUNIC
/worlds/tunic/ @silent-destroyer @ScipioWright

# Twilight Princess
/worlds/tp/ @WritingHusky

# Undertale
/worlds/undertale/ @jonloveslegos

# VVVVVV
/worlds/v6/ @N00byKing

# Wargroove
/worlds/wargroove/ @FlySniper

# Wargroove 2
/worlds/wargroove2/ @FlySniper

# The Wind Waker
/worlds/tww/ @tanjo3

# The Witness
/worlds/witness/ @NewSoupVi @blastron

# UFO 50
/worlds/ufo50/ @ScipioWright @LeonarthCG

# ULTRAKILL
/worlds/ultrakill/ @TPRG0

# Yacht Dice
/worlds/yachtdice/ @spinerak

# Yoshi's Island
/worlds/yoshisisland/ @PinkSwitch

# Yu-Gi-Oh! Dungeon Dice Monsters
/worlds/yugiohddm/ @JustinMarshall98

# Yu-Gi-Oh! Forbidden Memories
/worlds/fm/ @sg4e

# Yu-Gi-Oh! Ultimate Masters: World Championship Tournament 2006
/worlds/yugioh06/ @Rensen3

# Wario Land
/worlds/wl/ @randomcodegen

# Wario Land 4
/worlds/wl4/ @lilDavid

# Wordipelago
/worlds/wordipelago/ @ProfDeCube

# Xenoblade Chronicles X
/worlds/xenobladex/ @MaragonMH

# Zelda II
/worlds/zelda2/ @PinkSwitch

# Zillion
/worlds/zillion/ @beauxq

# Zork Grand Inquisitor
/worlds/zork_grand_inquisitor/ @nbrochu


## Active Unmaintained Worlds

# The following worlds in this repo are currently unmaintained, but currently still work in core. If any update breaks
# compatibility, these worlds may be deleted. If you are interested in stepping up as maintainer for
# any of these worlds, please review `/docs/world maintainer.md` documentation.

# Final Fantasy (1)
# /worlds/ff1/

# Ocarina of Time
# /worlds/oot/

###################
## Documentation ##
###################

# Apworld Dev Faq
/docs/apworld_dev_faq.md @qwint @ScipioWright

